body {
    font-family: '新宋体';
    font-size: 16px;
}

/* 自定义浅色主题 */
:root {
    --theme: #eff1f2;
    /* 文章背景色 */
    --entry: #ffffff;
    /* 文章卡片背景 */
    --primary: #2d3436;
    /* 主要文字色 */
    --secondary: #636e72;
    /* 次要文字色 */
    --border: #dfe6e9;
    /* 边框颜色 */
    --code-bg: #eff1f2;
    /* 首页背景色 */
    --content-gap: 20px;
    /* 文章内边距 */
}

/* 隐藏首页欢迎信息 */
.home-info {
    display: none;

}

/* markdown的表格美化 */
.post-content table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
}

.post-content th,
.post-content td {
    border: 1px solid var(--border);
    padding: 0.6em 1em;
}

.post-content th {
    background-color: var(--code-bg);
    font-weight: 600;
}